<!DOCTYPE html>
<html>
    <head>
        
        <link rel="icon" href="faviconinicio.ico">
        <title>Confirmar Venta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <!-- Iconos -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- SweertAlert2 -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <div class="container">
            <div th:insert=" Menu :: #menu"></div>
            <h2>Producto</h2>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Id Producto</th>
                    <th>Nombre Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
                <tr th:each="detallePrd, status : ${detalleProducto}">
                    <td th:text="${status.count}"> </td>
                    <td th:text="${detallePrd.IdProducto}"> </td>
                    <td th:text="${detallePrd.Nombre}"> </td>
                    <td th:text="${detallePrd.Precio}"> </td>
                    <td th:text="${detallePrd.Cantidad}"> </td>
                    <td th:text="${detallePrd.Total}"> </td>
                </tr>
            </table>
            <br>
            <h2>Cliente</h2>
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Metodo Pago</th>
                    <th>Metodo Entrega</th>
                </tr>
                <tr th:each="detalleCli : ${detalleCliente}">
                    <td th:text="${detalleCli.Nombres}"> </td>
                    <td th:text="${detalleCli.Telefono}"> </td>
                    <td th:text="${detalleCli.Direccion}"> </td>
                    <!-- <td th:text="${detalleCli.IdPago}"> </td>-->
                    <td th:if="${detalleCli.IdPago == 1}" th:text="Efectivo" ></td>
                    <td th:if="${detalleCli.IdPago == 2}" th:text="Tarjeta" ></td>
                    <td th:if="${detalleCli.IdPago == 3}" th:text="Transferencia" ></td>
                    <td th:if="${detalleCli.IdPago == 4}" th:text="Plin" ></td>
                    <!--<td th:text="${detalleCli.IdEntrega}"> </td>-->
                    <td th:if="${detalleCli.IdEntrega == 1}" th:text="Delivery"></td>
                    <td th:if="${detalleCli.IdEntrega == 2}" th:text="RecojoEnTienda"></td>
                </tr>
            </table>
            <br>            
            <form action="FinCompra" method="POST" id="FinCompra">
                <h2>Total a Pagar</h2>
                <div th:each="detalleCli : ${detalleCliente}">
                    <p class="card-text" th:text="${detalleCli.Total_Pago}"></p>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-success"><i class="bi bi-cart-check-fill" style="font-size: 1.5em;"></i> Finalizar Compra</button>
                </div>
                <div th:each="detalleCli : ${detalleCliente}">
                    <input type="hidden" th:value="${detalleCli.IdPago}" name="pag" required="required">
                    <input type="hidden" th:value="${detalleCli.IdEntrega}" name="entr" required="required">
                </div>
                
                <div th:each="detallePrd : ${detalleProducto}">
                    <input type="hidden" th:value="${detallePrd.IdProducto}" name="pro" required="required">
                    <!--<input type="hidden" th:value="${detallePrd.Cantidad}" name="cant" required="required">-->
                </div>
            </form>
        </div>
    </body>
</html>
