<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <!-- Iconos -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- SweetAlert2-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function Registrar()
            {
                event.preventDefault();

                const nom = document.getElementById("nom").value;
                const corr = document.getElementById("corr").value;
                const telf = document.getElementById("telf").value;
                const dire = document.getElementById("dire").value;


                if (nom == "" || corr == "" || telf == "" || dire == "")
                {
                    //Puedes aqui poner una alerta: llene los campos
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: '<a href="">Why do I have this issue?</a>'
                    });

                } else
                {
                    Swal.fire({
                        title: 'Do you want to save the changes?',
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Save',
                        denyButtonText: `Don't save`,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                title: 'Saved!',
                                text: '',
                                icon: 'success',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    const formulario = document.getElementById("RegistrarCli");
                                    formulario.submit();
                                }
                            });
                        } else if (result.isDenied) {
                            Swal.fire('Changes are not saved', '', 'info');
                        }
                    });
                }
            }
            
            function Actualizar()
            {
                event.preventDefault();

                //const id = document.getElementById("id").value;
                const nom = document.getElementById("nomx").value;
                const corr = document.getElementById("corrx").value;
                const telf = document.getElementById("telfx").value;
                const dire = document.getElementById("direx").value;


                if (nom == "" || corr == "" || telf == "" || dire == "")
                {
                    //Puedes aqui poner una alerta: llene los campos
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: '<a href="">Why do I have this issue?</a>'
                    });

                } else
                {
                    Swal.fire({
                        title: 'Do you want to save the changes?',
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Save',
                        denyButtonText: `Don't save`,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                title: 'Saved!',
                                text: '',
                                icon: 'success',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    const formulario = document.getElementById("actualizarCli");
                                    formulario.submit();
                                }
                            });
                        } else if (result.isDenied) {
                            Swal.fire('Changes are not saved', '', 'info');
                        }
                    });
                }
            }


            function Eliminar(opcion)
            {
                event.preventDefault();

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    allowOutsideClick: false,
                    allowEscapeKey: false
                }).then((result) => {
                    if (result.isConfirmed) {

                        Swal.fire({
                            title: 'Deleted!',
                            text: 'Your file has been deleted.',
                            icon: 'success',
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = opcion.href;
                            }
                        });

                    }
                });
            }
            
            function Editar()
            {
                const exampleModal = document.getElementById('modalEditar');
                exampleModal.addEventListener('show.bs.modal', event => {
                    // Button that triggered the modal
                    const button = event.relatedTarget;
                    
                    //Datos
                    const id = button.getAttribute('data-bs-id');
                    const nom = button.getAttribute('data-bs-nom');
                    const corr = button.getAttribute('data-bs-corr');
                    const telf = button.getAttribute('data-bs-telf');
                    const dire = button.getAttribute('data-bs-dire');
                   
                    //Campos
                    const campoId = document.getElementById('id');
                    const campoNom = document.getElementById('nomx');
                    const campoCorr = document.getElementById('corrx');
                    const campoTelf = document.getElementById('telfx');
                    const campoDire = document.getElementById('direx');
                    
                    //Colocar los datos a los campos
                    campoId.value = id;
                    campoNom.value = nom;
                    campoCorr.value = corr;
                    campoTelf.value = telf;
                    campoDire.value = dire;
                });
            }
        </script>
    </head>
    <body onload="Editar()">
        <div class="container">
            <div th:insert=" Menu :: #menuUsuario"></div>
            <br>
            
            <div>
                <a th:href="@{orden_asccli}" class="btn btn-warning"><i class="bi bi-sort-up"></i></a>
                <a th:href="@{orden_desccli}" class="btn btn-info"><i class="bi bi-sort-down"></i></a>
            </div>
            
            <br>
            <form class="d-flex" role="search" action="buscarCli" method="POST">
                <input class="form-control me-2" name="dato" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            
            <div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="bi bi-plus-circle"></i></button>
            </div>
            <br>
            <div class="container bg-white text-dark" style="--bs-bg-opacity: .8;">

                <table class="table table-striped" id="tableAtencion">
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                    <tr th:each="cliente,status : ${clientes}">
                        <td th:text="${status.count}"></td>
                        <td th:text="${cliente.IdCliente}"></td>                    
                        <td th:text="${cliente.Nombres}"></td>
                        <td th:text="${cliente.Correo}"></td>
                        <td th:text="${cliente.Telefono}"></td>                    
                        <td th:text="${cliente.Direccion}"></td>
                        <td>
                            <div class="col">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEditar" th:attr="data-bs-id=${cliente.IdCliente},data-bs-nom=${cliente.Nombres},data-bs-corr=${cliente.Correo},data-bs-telf=${cliente.Telefono},data-bs-dire=${cliente.Direccion}" ><i class="bi bi-pencil-square"></i></button>
                                <!--<a onclick="return Editar(this)" th:href="@{/editarPrd(id=${producto.IdProducto})}" class="btn btn-success"> <i class="bi bi-pencil-square"></i></a>-->
                            </div>
                        </td>
                        <td>
                            <div class="col">
                                <a onclick="return Eliminar(this)" th:href="@{/eliminarCli(id=${cliente.IdCliente})}" class="btn btn-danger"> <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Model REGISTRAR -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="RegistrarCli" method="POST" id="RegistrarCli">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombres:</label>
                                <input type="text" name="nom" id="nom" class="form-control" placeholder="Ingrese Nombres" >
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Correo:</label>
                                <input type="text" name="corr" id="corr" class="form-control" placeholder="Ingrese Correo" >
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Telefono:</label>
                               <input type="text" name="telf" id="telf" class="form-control" placeholder="Ingrese Telefono" >
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Direccion:</label>
                                <input type="text" name="dire" id="dire" class="form-control" placeholder="Ingrese Direccion" >
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button onclick="return Registrar()" type="button" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Model EDITAR/ACTUALIZAR -->
        <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Cliente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="actualizarCli" method="POST" id="actualizarCli">
                            <input type="hidden" name="id" id="id">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombres:</label>
                                <input type="text" name="nombres" id="nomx" class="form-control" placeholder="Ingrese nombre" >
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Correo:</label>
                                <input type="text" name="correo" id="corrx" class="form-control" placeholder="Ingrese Correo" >
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Telefono:</label>
                                <input type="text" name="telefono" id="telfx" class="form-control" placeholder="Ingrese Telefono" >
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Direccion:</label>
                                <input type="text" name="direccion" id="direx" class="form-control" placeholder="Ingrese Direccion" >
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button onclick="return Actualizar()" type="button" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
